/* Stili personalizzati per la barra di riproduzione bianca */
.custom-range-white::-webkit-slider-thumb {
  background-color: #f8f9fa; /* Bianco Bootstrap */
  border: 1px solid #dee2e6; /* Bordo leggero per visibilità */
}

.custom-range-white::-moz-range-thumb {
  background-color: #f8f9fa; /* Bianco Bootstrap */
  border: 1px solid #dee2e6;
}

.custom-range-white::-webkit-slider-runnable-track {
  background-color: #7e7e7e; /* Grigio chiaro per il track */
}

.custom-range-white::-moz-range-track {
  background-color: #e9ecef; /* Grigio chiaro per il track */
}
.form-check-input:checked {
  background-color: #28a745; /* Colore verde per lo sfondo */
  border-color: #28a745; /* Colore verde per il bordo */
}
footer {
  position: fixed; /* Rende il footer fisso rispetto alla viewport */
  bottom: 0; /* Allinea il footer al bordo inferiore */
  left: 0; /* Allinea il footer al bordo sinistro */
  width: 100%; /* Fa sì che il footer si estenda per l'intera larghezza della viewport */
  z-index: 1030; /* Assicura che il footer rimanga sopra gli altri contenuti (il navbar di Bootstrap ha un z-index di 1030, quindi 1030 o superiore va bene) */
}

button {
  border: none;
  background-color: transparent;
}
button:hover {
  color: green;
}

.active-repeat svg {
  color: #1ed760 !important;
}

.song{
  font-size: 10px;
}

svg {
  width: 1rem;
  height: 1rem;
}

#playback svg{
  width: 1.5rem;
  height: 1.5rem;
}